<h1>Coachings#ask</h1>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="time" placeholder="Coach, what do I have to do?  ">
  <input type="submit" value="Go on!">
</form>

<!-- <p>Find me in app/views/coachings/ask.html.erb</p> -->


<!-- Search for <%= @time %> -->
